/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */

#zone-content {width:960px;}
#region-content {width:960px;}

.navigation {
	 	display: inherit;
}

#block-block-6 {display: none;}
 .navigation {
	border-top:1px solid black;
	border-bottom:1px solid black;
}

.navigation li {
	background: url(../images/nav_divider.png) no-repeat left center;
	padding:0 0 0 24px;
}

.navigation li a:link, .navigation li a:visited {
	font-weight: 	600;
	text-transform: uppercase;
	text-decoration:none;
}

.logo-img img {
	width:192px;
	height:auto;
}

#region-sidebar-first p {
	padding:6px 0 6px 47px;
	margin-left:12px;
	margin-top:			0px;
	font-size: 16px;
}

#region-sidebar-second p {
	margin-right:		12px;
	margin-top:			0px;
	padding:			6px 0 6px 59px;
	font-size: 16px;
}

.view-clients .views-row {
	margin: 0 6px 24px 6px;
}

#node_homepage_full_group_col1 {
	margin-left: 0;
}

.view-clients .grid-4 h5 {font-size: 18px;}

.view-clients .grid-4 img {width:165px; height:auto;}

input[type="email"], input[type="text"] {width:300px;}

#block-block-9 {
	display: none;
}
