/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */
 
h1, h2 			{font-size:28px; line-height:1.167;}

.contact-left {
	float:left;
	width:45%;
}

.contact-right {
	float:right;
	width:45%;
}

/*Footer*/
#block-delta-blocks-logo {
	width:70px;
}

.footer-title {font-size: 24px;}
footer p, #footer-phone p, #footer-email p, #footer-fax p {font-size:14px;}

#node_homepage_full_group_col1, #node_homepage_full_group_col2, #node_homepage_full_group_col3, #node_homepage_full_group_col4 {margin-left:20px;}

#node_homepage_full_group_appointment_settings .grid-4 img {
	height:auto;
	width:100%;
}


.view-clients .grid-4 {width:48%; float:left; margin:0 1.5%;}
.view-clients .grid-4 img {width:100%; height:auto;}
.view-clients .grid-4 h5 {height:40px; font-size: 16px;}

.view-contact p {
	text-align: left;
}

input[type="email"], input[type="text"] {width:220px;}