/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout).
.field-name-field-icon img,
.field-name-field-icon-2 img, 
.field-name-field-icon-3 img,
.field-name-field-icon-4 img {width:95%; height:auto;} */
.navigation {
	border-top:1px solid black;
	border-bottom:1px solid black;
	
}

.navigation li {
	background: url(../images/nav_divider.png) no-repeat left center;
	padding:0 0 0 24px;
}

#region-sidebar-first .navigation {
margin:0 -12px 24px 0;
}

#region-sidebar-second .navigation {
margin:0 0 24px -12px;
}

#region-sidebar-first .navigation li {
	display: inline;
	margin:6px 24px 6px 0;
	float: left;
}

#region-sidebar-second .navigation li {
	display: inline;
	margin:6px 0 6px 24px;
	float: right;
}

.navigation li a:link, .navigation li a:visited {
	font-weight: 600;
	text-transform: uppercase;
	text-decoration:none;
}

.header_bullet li {
	font-size: 0.8em;
	list-style: none;
	margin-top:24px;
	text-align: center;
	text-transform: uppercase;
}

#region-sidebar-first p {
	background:url(../images/phone_icon.png) no-repeat;
	padding:6px 0 6px 47px;
}

#region-sidebar-second p {
	background:url(../images/envelope_icon.png) no-repeat;
	padding:6px 0 6px 59px;
	float:right;
}


#region-sidebar-second a {
	text-transform: uppercase;
}





.col-4 {
	float:left;
	width:25%;
	text-align: center;
}

.col-4 p {
	text-align: justify;
	margin:0 0.5em;
}

.col-4 h5 {
	margin-top:24px;
}

#region-branding {
	text-align: center;
}

.logo-img {
	margin:12px 0 24px 0;
	float: none;
	
}


.two-col-text {
	-moz-column-count:2; 	
	-webkit-column-count:2; 
	column-count:2;
	-moz-column-gap:24px; 
	-webkit-column-gap:24px; 
	column-gap:24px;
	margin-bottom:24px;
}

.two-col-text p+p {
  text-indent: 1em;
  margin-top: -24px;
}

#node_homepage_full_group_how_we_work .field-name-body p {text-align: center; margin-left:3em; margin-right:3em;}