/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout).
.field-name-field-icon img,
.field-name-field-icon-2 img, 
.field-name-field-icon-3 img,
.field-name-field-icon-4 img {width:95%; height:auto;} */

/*Expands content to full grid width, ignores the padding on the left and right of the page*/
#zone-content {width:960px; margin-left:auto; margin-right:auto;}
#region-content {margin:0; width:960px;}
#region-sidebar-first {margin-left:0;}
#region-branding {margin:0 20px;}
#region-sidebar-second {margin-right:0;}

/*Navigation*/
#region-sidebar-first .navigation {
	margin:			60px 0 24px 0;
}

#region-sidebar-second .navigation {
	margin:			60px 0 24px 0;
}

#region-sidebar-first .navigation li {
	display: 		inline;
	margin:			12px 24px 12px 0;
	float: 			left;
}

#region-sidebar-second .navigation li {
	display: 		inline;
	margin:			12px 0 12px 24px;
	float: 			right;
}

#region-sidebar-first p {
	background:url(../images/phone_icon.png) no-repeat;
	padding:6px 0 6px 47px;
	margin-left:12px;
}

#region-sidebar-second p {
	background:			url(../images/envelope_icon.png) no-repeat;
	float:				right;
	margin-right:		12px;
	padding:			6px 0 6px 59px;
}

#region-sidebar-second a {
	text-transform: 	uppercase;
}
/*End of Navigation*/

.two-col-text {
	-moz-column-count:2; 	
	-webkit-column-count:2; 
	column-count:2;
	-moz-column-gap:36px; 
	-webkit-column-gap:36px; 
	column-gap:36px;
	margin-bottom:36px;
	
}

.two-col-text p+p {
  text-indent: 1em;
  margin-top: -24px;

}

#node_homepage_full_group_how_we_work .field-name-body p, #block-block-3 p, .centered-text {
	text-align: center; 
	margin-left:3em; 
	margin-right:3em;}

.view-clients .views-row {
	margin-bottom:24px;
}

.view-clients .views-row-2, .view-clients .views-row-6, .view-clients .views-row-10 {
	margin:0 0 0 20px;
}

.view-clients .views-row-3, .view-clients .views-row-7, .view-clients .views-row-11 {
	margin:0 20px;
}

/*webform*/
#webform-component-form--form-left {
	float:		left; 
	width:		45%;
}

#webform-component-form--form-right {
	float:		right; 
	width:		45%;
}

#edit-submit {
	border: 1px dashed black;
	border-radius: 0;
	background: #64645F;
	color: white;
	font-family: 'Josefin Sans', sans-serif;
	padding:12px;
	margin:0 0 12px 0;
	text-shadow: 0 0 0;
	font-weight: 	600;
	text-transform: uppercase;
	text-decoration:none;
}

#edit-actions {
	text-align:  right;
}

.form-item, .form-actions {
	margin:0 0 12px 0;
}

/*Footer*/



#block-delta-blocks-logo {
	float:left;
	width:100px;
}

#block-delta-blocks-logo .logo-img img {
	width:100%;
	height:auto;
}

.footer-title {
	font-size: 30px;
	font-weight:600;
	line-height: 1;
	margin:12px 0;
	
}

footer .grid-14, #footer-email, #footer-fax {margin-left:20px !important; }

#footer-phone	{padding-left:60px; background: url(../images/white_phone_logo.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);}
#footer-email	{padding-left:60px; background: url(../images/white_envelope_icon.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);}
#footer-fax 	{padding-left:60px; background: url(../images/white_fax_icon.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);}

footer p, #footer-phone p, #footer-email p, #footer-fax p {font-size:16px;}

.footer-copyright p {
	font-size: 14px;
}


