/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:300,700);

/*------------------------------------*\
  RESET
\*------------------------------------*/
body, div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6,
pre, form, fieldset, input, textarea,
p, blockquote, th, td { 
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset, img {
  border: 0;
}
address, caption, cite, dfn, th, var {
  font-style: normal;
  font-weight: normal;
}
caption, th {
  text-align: left;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before, q:after {
  content: '';
}
abbr, acronym {
  border: 0;
}

/*--END OF RESET--*/

body {
	background: rgb(225,220,210);
	color:black;
	font-family: 'Josefin Sans', sans-serif;
	font-size:1em; /*16px*/
	line-height: 1.5em;

}



/*------------------------------------*\
  TYPE
\*------------------------------------*/
h1, h2, h3, h4, h5, h6  {
	color:black;
	font-family: 'Josefin Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
}

h1, h2, h3, h4 {
	letter-spacing: 0.025em;
}

h1, h2 			{font-size:30px; line-height:1.25; margin:12px auto 24px auto; max-width:95%; }
h3 				{font-size:20px; line-height:1.2; margin-bottom:12px;}
h4,h5, h6 		{font-size:18px; line-height:1.333; margin-bottom:12px; text-transform: uppercase;} 

h4:before {content:url(../images/H4_divider.png); margin:0 0 0 -24px} /*Negative margin counteracts the :before margin ensuring title is centered*/


.site-name-slogan {width:100%;}

h6.site-slogan {
	font-family: open-serif;
	font-style: italic;
	margin:0 auto 24px auto;
	text-transform: lowercase;
	width:100%;  }


p {
	font-size:18px;
	line-height:1.333em;
	margin-bottom: 24px;
	font-weight:400;
	text-align: justify;
	}

li {
	font-size:1em;
	margin-bottom: 12px;
}

a:link, a:visited {
	color:black;
	text-decoration: underline;
}

a:hover, a.active {
	color:#A10000;
	
}

.grey-section h1, .grey-section h2, .grey-section h3, .grey-section h4, .grey-section h5, .grey-section h6, .grey-section p, .grey-section li, .grey-section a:link, .grey-section a:visited, #block-block-3 a:link, #block-block-3 a:visited, #block-block-3 h1, #block-block-3 h2, #block-block-3 h3, #block-block-3 h4, #block-block-3 h5, #block-block-3 h6, #block-block-3 p, #block-block-3 li {
	color:white;
}



/*Branding*/
#region-branding {
	text-align: center;
}

.logo-img {
	margin:12px 0 12px 0;
	float: none;
}

.logo-img img {
	width:112px;
	height:auto;
}

/*Navigation*/

.navigation, #region-sidebar-first, #region-sidebar-second {display: none;}

/*Mobile Nav*/
.responsive-menus.responsified span.toggler {
	background:black;
	border-radius:0px;
	box-shadow:none;
	padding:6px 0;
	font-size: 20px;
	font-family: open-serif;
	font-style: italic;
}

/*Structure*/
.grey-section, #block-block-3 {
	background:#64645F;
	color:white;
	padding:24px 10px;
}

#node_homepage_full_group_aboutus, #block-views-clients-block, #block-views-contact-block {
	padding-left:10px !important; padding-right:10px !important;
}


#block-views-contact-block, #block-views-clients-block {
	padding:24px 0 24px 0;
}

/*Content*/
.field-name-field-call-out-image {
	margin-bottom: 24px;
}

.field-name-field-call-out-image img, .block-testimonial-slideshow-block img, #block-views-careers-block img {
	width: 100%;
	height:auto;
}

#node_homepage_full_group_col1 {margin-left:0;}
#node_homepage_full_group_col2 {margin-left:0;}
#node_homepage_full_group_col3 {margin:0;}

#node_homepage_full_group_appointment_settings .field-type-image {
	margin-bottom:24px;
	text-align: center;
}

#node_homepage_full_group_appointment_settings .field-type-text-long p {
	margin:0 6px 24px 6px;
	text-align: justify;
	font-size:16px;
	line-height:1.5;
}
#block-views-clients-block p {
	text-align: center;
}

/*Client Area*/
.view-clients .view-content .views-row {
 text-align: center;
 }
.views-field-field-client-icon {
	margin-bottom:12px;
}

/*footer*/
footer {
	/*background: black;*/
	color: white;
	background: black;
	text-transform: uppercase;

}

footer p {
	text-align: left;
}

footer h4 {
	text-align: left;
	color:white;
	margin-bottom:0;
	line-height: 1;
}

footer h4:before {display: none;}

footer a:link, footer a:visited {
	color: white;
}



/*Grid margin-reset*/
.region-inner .grid-1, .region-inner .grid-2, .region-inner .grid-3, .region-inner .grid-4, .region-inner .grid-5, .region-inner .grid-6, .region-inner .grid-7, .region-inner .grid-8, .region-inner .grid-9, .region-inner .grid-10, 
.region-inner .grid-11, .region-inner .grid-12, .region-inner .grid-13, .region-inner .grid-14, .region-inner .grid-15, .region-inner .grid-16 {
	margin-left:0;
	margin-right: 0;
}

/*Content Grid*/
.col-4 {
	float:left;
	width:25%;
	text-align: center;
}

.col-4 p {
	text-align: justify;
	margin:0 0.5em;
}

.col-4 h5 {
	margin-top:24px;
}

.view-contact img {
	width:100%;
	height:auto;
}

.view-clients .grid-4 {width:48%; float:left; margin:0 1%;}
.view-clients .grid-4 img {width:100%; height:auto;}
.view-clients .grid-4 h5 {height:60px; font-size: 14px;}

input[type="email"], input[type="text"] {width:100%;}

.not-front .field-name-field-image img {
	width:100%;
	height:auto;
}




